<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Gender</key>
		<integer>0</integer>
		<key>Birthdate</key>
		<date>2014-10-16T21:00:00Z</date>
		<key>Firstname</key>
		<string></string>
		<key>Lastname</key>
		<string>Doe</string>
		<key>Mail</key>
		<string></string>
	</dict>
</array>
</plist>
